.navbar{
  font-size: 1.25rem;
  padding-left: 1%;
  width : 100%;
  padding: 15px 10px;
  color: #F6F6F6;
  background-color: #000000;
}
.card-img-top{
  height:230px;
  padding: 3px;
}

body{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
  align-content: center;
  align-items: center;
 margin: 0px;
}
.nav-link{
  color:#F6F6F6;
}
.ml-auto{
  margin-left: 10px!important;
  text-align: left;
}
.white-container-title{
  color: #3EDBF0;
}
.icon-top{

  width: 50px;
}
h2{
  font-size: 2.7rem;
  padding: 20px;

}

.project-title{
  font-size: 1.8rem;
  padding: 5px;
}
.container-fluid{
  padding: 5% 7% 7% 7%;
}
#footer{
  padding: 30px;
}
.skills-container{
  background-color: #00C1D4;
  color: #000000;
  text-align: center;

}
.blue-container{
  background-color: #00C1D4;
  color: #000000;
  text-align: center;
}
.black-container{
  background-color: #000000;
  color: #F6F6F6;
}
.btn{
  margin: 10px;
  border-radius: 0;
}
.top-btn, .cv-btn{
  font-size: 1.4rem;
  border-radius: 0;
  background-color: #3EDBF0;
}

/*First title page*/

.title-container{
  /* height: 600px; */

  font-weight: bold;
  padding: 10% 10% 10% 10%;

}
#name{
color: #3EDBF0;
}

.bottom-title-text{
    color: #F6F6F6;
}

/* About me section */
.grey-container{
  background-color: #707070;
  color: white;
 margin: 0 auto;
}
#about-me{
  text-align: left;
}
bold{
  font-size: 1.75rem;
}
.profilepic{
  margin-top: 50px;
}

/* Footer section */
.flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
}

.copyright{
  font-weight: lighter;
  font-size: 75%;

}

.skill-img{
  width: 75px;
}

#projects{
  text-align: center;

}
.no-gutters{
  margin: 7px 7px;
}
.horiz-card{
  margin-bottom: 30px;
}
.project-card-overlay{
  position: absolute;
  align-items: center;
  align-content: center;
  text-align: center;

    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: none;
    transition: .5s ease;
    background-color:#E1E8EB;
    color: black;


}
.project-card-overlay:hover{
  opacity: 0.9;
  padding-top: 40%;
  border-width: medium;


}
.project-img{
  width: 50px;
}

.portfolio{
  background-color: white;
  padding: 20px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 3px;
  height: 224px;
  width: 98%;
  padding: 3px;

}
.project-col{
  padding-top: 30px;
}

@media (max-width: 992px){
 .About-me{
    display: inline;
  }
  /*First title page*/
.profilepic{
width: 85%;
}
.card-img-top{
  height:230px;
  
  padding: 3px;
}
.skill-img{
  margin: 20px;
}
.card{
  margin-left: 20px;
  margin-right: 20px;
}
.container-one{
  display: inline;
}
.top-title-text{
padding-top: 20%;
font-size: 4rem;
font-family: 'Sacramento', cursive;
}

.computer-img{
  padding: 30px;
 width: 100%;
  flex-flow: column;
}
.cv-btn{
  margin-top: 20px;

}
/* Hobbies section */

.hobbytxt1, .hobbytxt2, .hobbytxt3{
  margin:30px;
}
}

@media (min-width: 992px)
{  /*First title page*/
  .profilepic{
    width: 90%;
    margin-left: 100px;
  }
  .portfolio{
    width: 98%;
  }
.icon-top{
  margin: auto 40px;
}
#about-me{
  margin-left: 100px;
}
.computer-img{
  width: 70%;
  margin: 50px 50px 100px 100px;
}
.cv-btn{
  position: relative;

  font-weight: 200;
  font-size: 1.6rem;

}
.top-title-text{
padding-top: 7%;
font-size: 4rem;
font-family: 'Sacramento', cursive;
}
/* Hobbies section */

.hobbytxt1,.hobbytxt2, .hobbytxt3{
 position: relative;
 top: 80px;
 right: 80px;
}
.portfolio{
  width: 98%;
}
}
