.navbar{
  font-size: 1.25rem;
  padding-left: 1%;
}
.card-header, .card-text{
  color: black;
}
body{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
  align-content: center;
  align-items: center;
  margin: 0px;
}
.iconimg{
  padding-right: 15px;
}
svg{
  margin-right: 20px;
}
.dropdown{

  text-align: left;
}
.white-container-title{
  color: #FF5DA2;
}

h2{
  font-size: 2.5rem;
  font-weight: normal;
  padding: 20px;

}
.img{
  padding: 20px;
}
.container-fluid{
  padding: 3% 7% 7% 7%;
}
.container-fluid.last-container{
  padding-bottom: 3%;
}
.skills-container{
  background-color: #FFE0F7;
    color: #000000;

}
.black-container{
  background-color: #000000;
  color: #F6F6F6;
}
.btn{
  margin: 10px;
}
/*First title page*/

.title-container{
  /* height: 600px; */
  margin: 0px;
  font-weight: bold;
  padding: 3% 10% 10% 10%;

}
#name{
color: #FB90B7;
}

.pro{
  text-decoration: underline;
}
.bottom-title-text{
    color: #F6F6F6;
}

/* About me section */

#about-me{
  text-align: left;
}
bold{
  font-size: 1.75rem;
}
.profilepic{
  margin-top: 50px;
}

/* Footer section */
.flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
}
.nav{
  color: black!important;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link{
  color: black!important;
}
.navbar.bg-dark{
  background-color: black!important;
}

.GetInTouch{
color: #000000;
}

#footer{
  background-color: #FFE0F7;

}
.copyright{
  font-weight: lighter;
  font-size: 75%;

}
.sudoku,.portfolio, .memeShare, .tt-scheduler, .password-vault, .calc, .traffic-control{
  color: black;
  margin: 25px;
}
.kt, .sql{
  width: 120px;
}


@media (max-width: 992px){
 .About-me{
    display: inline;
  }
  /*First title page*/
.profilepic{
width: 85%;
}
.container-one{
  display: inline;
}
.top-title-text{
padding-top: 10%;
font-size: 4rem;
font-family: 'Sacramento', cursive;
}

.computer-img{
  padding: 30px;
 width: 100%;
  flex-flow: column;
}

/* Hobbies section */

.hobbytxt1, .hobbytxt2, .hobbytxt3{
  margin:30px;
}
}

@media (min-width: 992px)
{  /*First title page*/
  .profilepic{
    width: 90%;
    margin-left: 100px;
  }

#about-me{
  margin-left: 100px;
}
.computer-img{
  width: 70%;
  margin: 50px 50px 100px 100px;
}

.top-title-text{
padding-top: 7%;
font-size: 4rem;
font-family: 'Sacramento', cursive;
}
/* Hobbies section */

.hobbytxt1,.hobbytxt2, .hobbytxt3{
 position: relative;
 top: 80px;
 right: 80px;
}
}
