body{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
  align-content: center;
  align-items: center;
  margin: 10px;
}
h2{
  font-size: 2.5rem;
  font-weight: normal;
  padding: 20px;

}
img{
  padding: 20px;
}
.container-fluid{
  padding: 3% 7% 7% 7%;
}
.skills-container{
  background-color: #FFE0F7;
    color: #000000;
}
.black-container{
  background-color: #000000;
  color: #F6F6F6;
}
.btn{
  margin: 10px;
}
/*First title page*/

.title-container{
  height: 600px;
  margin: 0px;
  font-weight: bold;

}
#name{
color: #FB90B7;
}
.pro{
  text-decoration: underline;
}
.bottom-title-text{
    color: #F6F6F6;
}

/* About me section */

#about-me{
  text-align: left;

}
.profilepic{
  margin-top: 50px;
}

/* Footer section */
.flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.GetInTouch{
color: #000000;
}
.contact-icon{
  width: 70px;
}
#footer{
  background-color: #FFE0F7;
}
.copyright{
  font-weight: lighter;
  font-size: 75%;
}
.sudoku,.portfolio{
  color: black;
  margin: 30px;
}


@media (max-width: 1250px){

  /*First title page*/

.title-container{
  height: 850px;

}
.profilepic{
width: 80%;
}
.top-title-text{
padding-top: 40px;
font-size: 4rem;
font-family: 'Sacramento', cursive;
}

.computer-img{
  padding: 30px;
  width: 80%;
}

/* Hobbies section */

.hobbytxt1, .hobbytxt2, .hobbytxt3{
  margin:30px;
}
}

@media (min-width: 1250px)
{  /*First title page*/
  .profilepic{
    width: 70%;
  }
  .About-me{
    flex-wrap: nowrap;
  }

.computer-img{
  width: 70%;
  margin: 50px 100px 100px 100px;
}

.top-title-text{
padding-top: 100px;
font-size: 4rem;
font-family: 'Sacramento', cursive;
}
/* Hobbies section */

.hobbytxt1,.hobbytxt2, .hobbytxt3{
 position: relative;
 top: 80px;
 right: 80px;
}
}
